.Create-button{
    font-size: medium;
    background-color: #00a300;
    width: 109px;
    height: 44px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}
.To-do-app{
   margin: auto;
}
.Section{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(10, 3, 3);
    width: auto;
    max-width: 600px;
    height:200px;
    margin-top: 10px;
    border-radius: 20px;
    color: white;
}
.Section-title{
    display: flex ;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: #D9D9D9;
    margin-top: 4px;
}
.task{
    padding: 10px;
}
#Modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(0 , 0 ,0 ,0.4);
    z-index: 2;
    display: none;
}
.Modal-content{
    background-color: #1E1E1E;
    max-width: 370px;
    max-height: 376px;
    text-align: center;
    color: #fff;
    margin: 250px auto;
    border-radius: 16px;
    padding: 12px;
}
.Modal-content input{
    height: 20px;
    width: 265px;
    margin: 20px;
    outline: none;
    background-color: transparent;
    border: #999999 solid 1px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 12px;
}
#task-status{
    height: 48px;
    width: 290px;
    margin-bottom: 100px;
    background-color: transparent;
    border: #999999 solid 1px;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
}
.Modal-submit{
 background-color: #00a300;
 color: #fff;
 width: 290px;
 height: 44px;
 border-radius: 4px;
 border-color: #00a300;
}
@media screen and (min-width: 1000px){
    .To-do-app{
        display: flex;
        gap: 20px;
    }
    .Section{
        height: 670px;
        width: 280px;
    }
    
}
